.botones-popup {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 12px; /* separa un poco los botones */
  margin-top: 15px; /* espacio arriba */
}


.descripcion-fija {
  width: 100%;
  height: 120px;

  padding: 8px;
  box-sizing: border-box;

  resize: none;

  overflow-y: auto;
  overflow-x: hidden;

  white-space: pre-wrap;
  word-break: break-word;

  border: 1px solid var(--dx-color-border, #dcdcdc);
  border-radius: 4px;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.4;
}

/* foco estilo DevExtreme */
.descripcion-fija:focus {
  outline: none;
  border-color: #337ab7;
}
