<div class="max-w-md mx-auto p-8 bg-white shadow-md rounded-lg space-y-4">
  <div class="flex flex-col">
    <label for="param2" class="text-gray-700 font-semibold mb-1">Producto:</label>
    <input
      id="param2"
      [(ngModel)]="param2"
      placeholder="Escribe el nombre o referencia del producto"
      class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <button
    class="w-full p-2 mt-4 text-white bg-orange-300 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
    (click)="onSearch(); closeDetail()"
  >
    Buscar
  </button>
</div>

<div *ngIf="selectedItem; else itemList">
  <!-- Detalles del ítem seleccionado -->
  <div class="max-w-md mx-auto p-8 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold text-[#0d2744] mb-4">{{ selectedItem.Nombre }}</h2>
    <img src="https://services.matrixsql.com:8008/api/Productos/foto/{{selectedItem.Codigo}}-1.jpg" alt="Imagen del producto">
    <p class="text-lg text-gray-700 mt-4"><strong>Precio:</strong> {{ selectedItem.PrecioVenta | currency }}</p>
    <p class="text-sm text-gray-500 mt-2"><strong>Serie:</strong> {{ selectedItem.Serie }}</p>
    <p class="text-sm text-gray-500 mt-2"><strong>Referencia:</strong> {{ selectedItem.Referencia }}</p>
    <p class="text-sm text-gray-500 mt-2"><strong>Disponibilidad:</strong> {{ selectedItem.Disponibilidad }}</p>

    <button
      class="w-full p-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none"
      (click)="closeDetail()"
    >
      Volver a la lista
    </button>
  </div>
</div>

<ng-template #itemList>
<div *ngIf="searchExecuted && items.length > 0; else noItems">

  <div class="flex flex-col mb-4">
    <label for="marcaFilter" class="text-gray-700 font-semibold mb-1">Filtrar por marca:</label>
    <select
      id="marcaFilter"
      [(ngModel)]="selectedMarca"
      (change)="onFilterByMarca()"
      class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="">Todas las marcas</option>
      <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
    </select>
  </div>

  <div *ngFor="let marca of displayedItems  | keyvalue">
    <h3 class="text-lg font-bold underline text-[#0d2744] flex items-center">{{ marca.key }}</h3>
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
      <li *ngFor="let item of marca.value">
        <div class="bg-white shadow-md rounded-lg overflow-hidden p-4 relative" (click)="selectItem(item)">
          <div class="relative z-10">
            <img src="https://services.matrixsql.com:8008/api/Productos/foto/{{item.Codigo}}-1.jpg" alt="Imagen" (error)="onImageError($event)">
            <h3 class="text-lg font-bold text-[#0d2744] flex items-center">
               {{item.Nombre}} - <h2 class="font-bold"> {{marca.key}}</h2>
            </h3>
            <p class="text-sm text-[#143e66] dark:text-[#bfddf8] mt-2">
              <strong> {{item.PrecioVenta | currency:'$':'symbol':'1.2-2' }}</strong> <br>
              Serie: {{item.Serie}} <br>
              Referencia: {{item.Referencia}} <br>
              Codigo: {{item.Codigo}}
            </p>
            <p class="text-sm text-[#143e66] dark:text-[#bfddf8] mt-2" [ngClass]="{'text-verde': item.Disponibilidad === 'DISPONIBLE', 'text-rojo': item.Disponibilidad === 'CONSULTAR_ASESOR'}">
              Disponibilidad : <strong> {{item.Disponibilidad}} </strong>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</ng-template>

<ng-template #noItems>
  <p *ngIf="searchExecuted">No se encontraron items.</p>
</ng-template>
